/* global styles */
html{font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    height: 100%;
}
    
body{margin:0;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.navigation {
    height: 70px;
    background: rgba(0,0,0,0.7);
}   
.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}
    
.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}
    
nav {
    float: right;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 15px;
    line-height: 70px;
    /* background: #262626; */
    color: #ffffff;
    text-decoration: none;
}
.nav-dropdown, nav ul li a:visited{
    background: rgba(0,0,0,0.7);
}

nav ul li a:hover,
nav ul li a:visited:hover {
    background: #f87203;
    color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}
    
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0,0,0,0.7);;
}
    
/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background:rgba(0,0,0,0.7);;
    height: 70px;
    width: 70px;
}
/* Overview */
#overview{
    padding: 30px 0 20px 0;
    background: #f87203;
}
#overview .container .item {
    width: calc(100%/4.5);
    float: left;
    text-align: center;
    padding: 10px;
  }

/* Content */
#content{
    background: #faf9f9;
    padding-top: 50px;
    width: 100%;
}
#content .container{
    background: #ffffff;
    margin:0 auto;
    padding-left: 20px;
}
#content .container .item {
    width: calc(100%/3.1);
    float: left;
    text-align: center;
    margin: 10px 0 10px 15px;
  }
  #content .container .item img{
    width: 95%;
}
    
@media only screen and (max-width: 768px) {
    .nav-mobile {
        display: block;
    }
    
    nav{
        width: 100%;
        padding: 70px 0 15px;
    }
    nav ul{
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
        background: rgba(0,0,0,0.7);;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-dropdown {
        position: static;
    }
    #showcase h1{
        margin-top: 40px;
      }
    #content .item, #overview .item
      {
        float: none !important;
        text-align: center !important;
        width: 100% !important;
    }
    #overview .container{
        padding: 10px 10px 10px 10px !important;
      
    }
}
@media screen and (min-width: 769px){
    .nav-list{
        display: block !important;
    } 
    #content .container .item {
        width: calc(100%/3.2);
        float: left;
        text-align: center;
      }
}

#nav-toggle {
      position: absolute;
      left: 18px;
      top: 22px;
      cursor: pointer;
      padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}
header{
    background:url('../images/main-bg.jpeg') no-repeat center;
    background-size: cover;
}

#content .container, #overview .container, #how .container{
    width: 99%;
    margin: 0 auto;
    overflow: hidden;
  }
/* Showcase */
#showcase {
    min-height: 400px;
    text-align: center;
    color: #ffffff;
  }
  #showcase h1{
    margin-top: 100px;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .call_to{
    height: 38px;
    background: #f87203;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    border-radius: 2px;
  }
  button:hover{
      color:#000000;
      transition: all 0.5s;
      cursor: pointer;
      transform: scale(1.03);
  }

  footer{
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #0f0f0f;
    text-align: center;
  }
  img:hover {
    transform: scale(1.03);
}
.full-menu{
    background: #ffffff;
    border: 2px solid #f87203;
    color: #f87203;
    margin: 5px;
    text-transform: uppercase;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: auto; 
    border: 1px solid rgb(241, 241, 241);
    margin: 1.5%;
    border-radius: 2px;
    background: #e6e4e4
}

/* Clear floats after the columns */
.inforow:after {
    content: "";
    display: table;
    clear: both;
}
#how h1{
    text-align: center;
}
.column img {
    float: left;
    margin-right: 10px;
    margin-top: 5%;
    border-radius: 50%;
    width: 100px;
    height: 100px;;
  }
  .column p span{
    color: red;
    font-size: 1.5em;
  }
  button:hover{
    color:#000000;
    transition: all 0.5s;
    cursor: pointer;
    transform: scale(1.03);
}

footer{
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #0f0f0f;
  text-align: center;
}