.wrapper .category_title{
    text-align: center;
    color: rgb(251, 226, 0);
    background: white;
}
.orders tr td:nth-child(1){
    width: 3% !important;
}
.orders tr td:nth-child(2){
    width: 15% !important;
}
.orders tr td:nth-child(5), .orders tr td:nth-child(4){
    width: 15% !important;
}
