.wrapper{
 height:auto;
 font-size: 1em;
} 
.wrapper #header{
    background: #F9DF05;
    text-align: center;
    height: 10%;
    padding: 10px 0 10px 0;
}
#orders {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin: 20px auto;
}
    
#orders td, #orders th {
        border: 1px solid #ddd;
        padding: 2px;
        width: 20px;
        text-align: center;
}
#orders tr:nth-child(even){background-color: #f2f2f2;}
    
#orders tr:hover {background-color: #ddd;}
#orders tr:last-child td:last-child{
    text-align: right;
}
#orders tr td:last-child{
    width: auto;
}
#orders tr:nth-child(3) td:nth-child(-n+7){
    text-decoration: line-through;
    color: #666464;
}
#order tr td input[type="text"]{
    width: 5%;
}
#orders th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #4e4c4c;
        color: white;
}
img{
 width: 100%;
 height: 30%;
}
#remove, #accept, #decline, #complete{
    background-color: #ac1f1c;
    height: 20px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    border-radius: 2px;
}
#orders tr td#bulk-manage{
    text-align: center;
    padding: 10px;
}
 #complete{
    background-color: #428bca;
 }
#accept{
    background-color: #5cb85c
}
